<html>
    <head>
        <title>$i18n.getText("ru.andreymarkelov.atlas.plugin.qcf.field.linkedfield.config.title", ${customField.name})</title>
        <meta content="admin" name="decorator"/>
        <meta name="admin.active.section" content="admin_issues_menu/element_options_section/fields_section"/>
        <meta name="admin.active.tab" content="view_custom_fields"/>
        $webResourceManager.requireResource("jira.webresources:global-static")
        $webResourceManager.requireResource("jira.webresources:jira-global")
        $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
        $webResourceManager.requireResourcesForContext("queryfields-admin")
    </head>
    <body class="aui">
        <header class="aui-page-header">
            <div class="aui-page-header-inner">
                <div class="aui-page-header-main">
                    <h2>$i18n.getText("ru.andreymarkelov.atlas.plugin.qcf.field.linkedfield.config.title", ${customField.name})</h2>
                </div>
            </div>
        </header>
        <form class="aui" action="LinkedFieldConfigAction.jspa" method="post">
            <div id="jqlFieldz" style="display:none;">$textutils.htmlEncode(${visibleFieldNamesJson})</div>
            <div id="jqlFunctionNamez" style="display:none;">$textutils.htmlEncode(${visibleFunctionNamesJson})</div>
            <div id="jqlReservedWordz" style="display:none;">$textutils.htmlEncode(${jqlReservedWordsJson})</div>
            <input type="hidden" name="atl_token" value="$atl_token"/>
            <input type="hidden" name="fieldConfigId" value="${fieldConfigId}"/>
            <div class="field-group">
                <label for="jql">$i18n.getText("ru.andreymarkelov.atlas.plugin.qcf.field.linkedfield.config.query")<span class="aui-icon icon-required">(required)</span></label>
                <textarea rows="2" cols="80" class="js-jql-autocomplete-field textarea" name="jql" id="jql">$!jql</textarea>
                <span style="display: none" class="report-mark-icon icon jqlgood js-jql-autocomplete-error" id="jqlerrormsg-create"><span></span></span>
                #if($action.getErrors().containsKey("jql"))
                <div class="error">$action.getErrors().get("jql")</div>
                #end
                <div class="description">$i18n.getText("ru.andreymarkelov.atlas.plugin.qcf.field.linkedfield.config.query.desc")</div>
            </div>
            <div class="field-group">
                <label for="options">$i18n.getText("ru.andreymarkelov.atlas.plugin.qcf.field.linkedfield.config.options")<span class="aui-icon icon-required">(required)</span></label>
                <select size="5" multiple="multiple" id="displayFields" name="displayFields">
                    #foreach($option in $action.getAllOptions().entrySet())
                    <option #if($displayFields.contains($option.key))selected="selected"#end value="$option.key">$i18n.getText("$option.value")</option>
                    #end
                </select>
                #if($action.getErrors().containsKey("displayFields"))
                <div class="error">$action.getErrors().get("displayFields")</div>
                #end
                <div class="description">$i18n.getText("ru.andreymarkelov.atlas.plugin.qcf.field.linkedfield.config.options.desc")</div>
            </div>
            <div class="buttons-container">
                <div class="buttons">
                    <input type="submit" class="aui-button" value='$i18n.getText("ru.andreymarkelov.atlas.plugin.qcf.field.linkedfield.config.save")'/>
                    <a class="aui-button aui-button-link" href="ConfigureCustomField!default.jspa?customFieldId=${action.getCustomField().getIdAsLong().toString()}">
                        $i18n.getText("ru.andreymarkelov.atlas.plugin.qcf.field.linkedfield.config.cancel")
                    </a>
                </div>
            </div>
        </form>
    </body>
</html>
