<tr>
    <td class="fieldLabelArea">$i18n.getText("queryfields.postfunction.appendwatchers.linkedissues.assignee"):</td>
    <td nowrap="">
        <input class="checkbox" name="assignee" id="assignee"  value="true" type="checkbox" #if($assignee)checked="checked"#end/>
        <br/><span class="subText">$i18n.getText("queryfields.postfunction.appendwatchers.linkedissues.assignee.desc")</span>
    </td>
</tr>
<tr>
    <td class="fieldLabelArea">$i18n.getText("queryfields.postfunction.appendwatchers.linkedissues.reporter"):</td>
    <td nowrap="">
        <input class="checkbox" name="reporter" id="reporter"  value="true" type="checkbox" #if($reporter)checked="checked"#end/>
        <br/><span class="subText">$i18n.getText("queryfields.postfunction.appendwatchers.linkedissues.reporter.desc")</span>
    </td>
</tr>
<tr>
    <td class="fieldLabelArea">$i18n.getText("queryfields.postfunction.linkissues.field"):</td>
    <td nowrap="">
        <select class="select" id="multiLinkerField" name="multiLinkerField">
            #foreach($customField in $customFields)
                <option #if($customField.id == $!multiLinkerField)selected="selected"#end value="$customField.name">$customField.name</option>
            #end
        </select>
        <br/><span class="subText">$i18n.getText("queryfields.postfunction.linkissues.field.desc")</span>
    </td>
</tr>